:root {
  --bg-color: #000000;
  --main-bg-color: #19475c;
  --header-bg-color: #bdaaaa;
  --text-color: #ffffff;

  --header-height: 50px;
  --panel-width: 400px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}
